<p>If you have a login already, please enter your details below.</p>

[% IF error_msg %]<p>[% error_msg %]</p>[% END %]

<!-- Login form -->
<form method="post" action="[% c.req.uri %]">
  <table>
    <tr>
      <td>Username:</td>
      <td><input type="text" name="username" size="40" value="webmaster" /></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="password" size="35" value="mypassword" /></td>
    </tr>
    <tr>
      <td colspan="2"><input class="bttn" type="submit" value="Login" /></td>
    </tr>
  </table>
</form>

<a href="[% cancel_uri %]?error=Cancelled%20by%20user">Cancel</a>
